<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="919782b1-5976-41ab-afbe-e0ea69556cea" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://petstore.swagger.io" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="919782b1-5976-41ab-afbe-e0ea69556ceafileName">https%3A%2F%2Fpetstore.swagger.io</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://petstore.swagger.io</con:endpoint></con:endpoints></con:interface>
